<!DOCTYPE html>
<html lang="fr">
<head class="bg-light">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Support</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container-fluid py-2" style="background-color: #F3F2E7;">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-grow-1">
                <div class="logo mr-3">
                    <h1 style="font-size: 40px; font-weight: bold;color: #3A1700; margin: 0;">Community<br>Support</h1>
                </div>
                <nav class="nav align-items-center" style="padding-left: 35px;">
                    <a class="nav-link" href="#about" style="color: #3A1700; font-size: 18px;">À Propos</a>
                    <a class="nav-link" href="#education" style="color: #3A1700; font-size: 18px;">Éducation</a>
                    <a class="nav-link" href="#solidarity" style="color: #3A1700; font-size: 18px;">Solidarité</a>
                    <a class="nav-link" href="#contact" style="color: #3A1700; font-size: 18px;">Contact</a>
                </nav>
            </div>
            <button class="btn" style="background-color: #7E8AB8; color: white; padding: 10px 20px; border-radius: 20px; font-size: 14px;">S'authentifier</button>
        </div>
    </div>
</head>

<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body></body>
</html>

