{% extends 'base.html.twig' %}

{% block title %}Tableau de bord du gestionnaire{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .navbar-nav {
            width: 100%;
        }

        .navbar-nav .nav-item {
            width: 100%;
            <!--margin-top: -10rem;-->
        }

        .navbar-nav .nav-link {
            width: 100%;
            text-align: center;
        }

        nav.position-absolute {
            top:235px;
            left: 0;
            width: 15%;
            height: 100%;
            background-color: #f8f9fa;
        }

        main {
            margin-left: 15%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light position-absolute">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Posts</a>
            </li>
            <!-- Ajoutez d'autres éléments de menu si nécessaire -->
        </ul>
    </nav>

    <main>
        <div class="container">
            <h1>Tableau de bord du gestionnaire</h1>
            <p>Bienvenue sur le tableau de bord du gestionnaire. Ici, vous pouvez gérer les utilisateurs et les posts de votre site web.</p>
            <h2>Utilisateurs</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.FirstName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="#" class="btn btn-primary">Modifier</a>
                            <a href="#" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
