* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rowdies', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F2E7;
}


/* 1ere page */


.main-container {
    display: flex;
    flex-grow: 1;
}

.left-side, .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-side img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-left: 30px;
}

.right-side {
    flex-direction: column;
    align-items: flex-start; /* Alignez les textes à gauche */
    margin-bottom: 0.5em;
}

.right-side h2 {
    color: #3A1700;
    font-weight: 700; /* bold */
    font-size: 50px;
    margin: 0;
}

.right-side p {
    color: #3A1700;
    font-weight: 300; /* light */
    font-size: 20px;
    margin-top: 0.5em; /* Ajoute un peu d'espace au-dessus du paragraphe */
    line-height: 28px; /* Ajout de la hauteur de ligne */
}


/* 2eme page */


.statistique{
    background-color: #FFFFFF;
    padding: 100px;
}

.header-text {
    text-align: center;
    color: #3A1700;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 110px;
}

.stats-container {
    color: #3A1700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.stat {
    display: flex;
    margin: 0 75px; /* Espace entre les statistiques */
    background-color: #FFFFFF;
}

.number-container {
    margin-right: 28px;
}

.number-container h1 {
    font-size: 72px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titre {
    font-size: 20px;
}

.description {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
}


/* 3eme page */


.third-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse; /* Inverse l'ordre des éléments enfants */
    padding: 40px;
    padding-left: 100px;
}

.third-container .left-side, .third-container .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.third-container .right-side img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.third-container .left-side {
    flex-direction: column;
    align-items: flex-start; /* Alignez les textes à gauche */
}

.third-container .left-side h2 {
    color: #3A1700;
    font-weight: 700; /* bold */
    font-size: 50px;
    margin: 0;
}

.third-container .left-side p {
    color: #3A1700;
    font-weight: 300; /* light */
    font-size: 20px;
    margin-top: 0.5em; /* Ajoute un peu d'espace au-dessus du paragraphe */
    line-height: 28px; /* Ajout de la hauteur de ligne */
}

.button-container {
    display: flex;
    justify-content: center; /* Centrer le bouton horizontalement */
    padding-top: 25px;
}

.volunteer-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #7E8AB8;
    border: 2px solid rgba(126, 138, 184, 0.305);
    border-radius: 20px; /* Arrondissement des coins */
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.volunteer-button:hover {
    background-color: rgba(126, 138, 184, 0.305);
    color: white;
}


/* 4eme page */


.volunteers-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 100px;
}

.title-section {
    text-align: left;
    margin-bottom: 80px; /* Espacement en dessous de la section titre */
}

.title-section .subtitle {
    font-size: 20px;
}

.title-section h2 {
    color: #3A1700;
    margin: 0;
    font-size: 50px;
    font-weight: 700; /* bold */
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ombre pour les cartes */
    border-radius: 10px !important; /* Arrondissement des coins */
    width: 250px;
    margin: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Arrondissement des coins */
}

.card-info {
    padding: 14px;
    text-align: left;
}

.card-info h3 {
    margin: 22px 0;
    color: #3A1700; /* Couleur du nom */
    font-size: 18px;
}

.card-info p {
    color: rgba(58, 23, 0, 0.5);  ; /* Couleur de la description */
    font-size: 14px;
    margin: 0;
}


/* 5eme page */


.faq-container {
    background-color: white;
    max-width: 100%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 100px;
}

.faq-header {
    text-align: center;
    color: #3A1700;
    font-size: 40px;
    font-weight: 700; /* bold */
    margin-bottom: 80px;
}

.faq-box {
    background-color: #0089ff;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 6px;
}

.faq-item-content.active-content {
    border-top: none; /* Enlève la bordure lorsqu'une réponse est active */
}

.faq-item-content {
    display: none;
    padding: 10px;
    color: rgba(255, 255, 255, 0.811);
    border-top: 1px solid #ccc; /* Ajoute une ligne de séparation */
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    line-height: 1.7;
}

.faq-toggle {
    font-size: 25px;
    color: white;
    padding: 0 10px;
}