* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Assure que padding et border sont inclus dans la largeur totale */
}

body {
    width: 100%;
    min-height: 100%;
    background-color: #F3F2E7;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.row, .col-md-4 {
    margin: 0;
    padding: 0;
}

.footer-section {
    padding: 40px;
    display: flex;
    align-items: center;
}

.footer-icon-container {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text-container {
    flex: 1;
    padding-left: 30px;
}

.footer-icon {
    width: 80px;
    height: auto;
}

.footer-heading {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.footer-data {
    font-size: 16px;
    margin: 0;
}

.bottom-footer {
    background-color: #007BFF;
    color: white;
    padding: 40px;
    width: 100%;
    flex: 1;
}

.menu, .service, .footer-policies {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu a, .service a {
    color: white;
    text-decoration: none;
    display: block;
}

.menu a:hover, .service a:hover, .footer-policies a:hover{
    text-decoration: underline;
}

.menu li, .service li {
    padding-bottom: 8px;
}

.footer-policies a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
}

.footer-bottom {
    border-top: 1px solid #FFFFFF; /* Separator line */
    padding: 15px 0;
    display: flex;
    flex: 1;
    justify-content: space-between; /* Aligns copyright and policies */
    align-items: center;
    width: 100%;
}

.mt-4, .pt-4 {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}