/* Styles spécifiques pour la section d'registration */
.form {
    background-color: #f2f2f2; /* Légèrement plus sombre pour un meilleur contraste */
    font-family: Arial, sans-serif;
    padding: 40px; /* Un peu plus d'espace intérieur */
    border-radius: 20px; /* Bords plus arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre légèrement plus prononcée */
    max-width: 650px; /* Réduit légèrement la largeur pour une meilleure lisibilité */
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Style pour le titre du formulaire */
.form .title h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Style pour les étiquettes des champs de formulaire */
.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

/* Style pour les champs de formulaire */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style pour les boutons du formulaire */
.form-group button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Style pour les boutons du formulaire au survol */
.form-group button:hover {
    background-color: #0056b3;
}

button {
    transition: transform 0.3s ease; /* Ajouter une transition sur la propriété transform */
}

button:hover {
    transform: scale(1.1);
}

.btn-unstyled {
    border: none;
    background: none;
    padding: 0;
    color: red;
}

.custom-checkbox {
    transform: scale(1.5);
    margin-left: 10px;
    vertical-align: middle; /* Alignement vertical au centre */
    background-color: red;
}


.eye-toggle-button:hover {
    background-color: transparent !important;
}

.eye-toggle-button:focus {
    outline: none; /* Style pour enlever la bordure autour de l'oeil */
}

/* Style pour la validation du mdp */
.criteria-list li.criteria-met {
    color: green;
}

/* Style dans Profil */
label {
    margin-top: 20px
}

.custom-input {
    width: 500px; /* Définissez la largeur désirée ici */
}