

.header {
    padding: 15px 0 120px 10px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #3A1700;
    margin: 0;
    padding: 15px;
    padding-bottom: 40px;
}

/* Sélecteur d'élément */
nav a {
    color: #3A1700;
    font-size: 28px;
    font-weight: bold;
    padding: 35px;
    margin: 0 10px;
}

.header-btn {
    background-color: #7E8AB8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px;
    border: none;
}

.separator {
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px;
}


/* Style pour le bouton de déclenchement du menu déroulant */
.btn.dropdown-toggle {
    background-color: transparent; /* Fond transparent */
    color: #000; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    font-size: 30px; /* Taille de la police */
    padding: 5px 10px; /* Espacement interne */
    margin-left: -100px; /* Ajustement de la position vers la gauche */
}

.btn.dropdown-toggle:hover {
    color: #007bff; /* Couleur du texte au survol */
}

/* Style pour le nav bar dès que le User est connecté */

.navbar {
    position: absolute;
    margin-bottom:-150px;
    display: flex;
}

.navbar .menu{
    position: absolute;
    top: -100px;
    right:50px;
    font-size: 90px;
    align-content: center;
}


@media  screen {
    .nav-links {
        top:0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        z-index: 1000;
        right: -150%; /* Cacher la barre latérale */
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        right: 0; /* Déplacer la barre latérale à l'intérieur de l'écran lorsqu'elle est active */
    }

    .navbar .nav-links ul li a{
        margin: 15px 0;
        font-size: 1.5em;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none; /* Désactiver les puces */
    }
}