.header {
    background-color: #F3F2E7;
    padding: 10px 0 10px 10px;
}

.header-title {
    font-size: 40px;
    font-weight: bold;
    color: #3A1700;
    margin: 0;
    padding: 15px;
}

/* Sélecteur d'élément */
nav a {
    color: #3A1700;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
}

.header-btn {
    background-color: #7E8AB8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px;
    border: none;
}

.separator {
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px;
}


/* Style pour le bouton de déclenchement du menu déroulant */
.btn.dropdown-toggle {
    background-color: transparent; /* Fond transparent */
    color: #000; /* Couleur du texte */
    border: none; /* Suppression de la bordure */
    font-size: 30px; /* Taille de la police */
    padding: 5px 10px; /* Espacement interne */
    margin-left: -100px; /* Ajustement de la position vers la gauche */
}

.btn.dropdown-toggle:hover {
    color: #007bff; /* Couleur du texte au survol */
}