.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Hauteur de 100% pour occuper toute la hauteur de la colonne */
}

.col-md-6 {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

h3, h4 {
    font-weight:bold;
    text-align:center;
}

.col {
    background-color: #F3F2E7; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
    margin: 10px; /* Marge extérieure */
    border-radius: 10px; /* Bord arrondi */
}

.col:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.table-container1 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 250px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

.table-container2 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

progress {
    width: 100%; /* Remplir la largeur du conteneur */
}

.blue {
    color:dodgerblue;
    font-weight:bold;
    text-align:center;
}

.grey {
    color:grey;
    text-align: right
}

.purple {
    background-color: #7E8AB8;
    color: white;
    padding: 10px 20px;
    width:100%;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    font-weight: bold;
}

.purple:hover {
    background-color: white;
    color: #7E8AB8;
    border: 2px solid #7E8AB8;
}

.table-container0 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.number {
    color: #007BFF;
    font-weight: bold;
    font-size: 30px;
}

.text1{
    color: darkslategrey;
    font-weight: bold;
}

.col1{
    text-align: center;
    margin-top: 10%;
}


.band {
    background-color: #007BFF;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.5);
}

.button3 {
    background-color: white;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: #7E8AB8;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.button3:hover {
    background-color: cornflowerblue;
    color: white;
    transform: scale(1.1);
}

h5 {
    font-weight: bold;
}

.table-container3 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

.explore {
    background-color: whitesmoke;
    color: #7E8AB8;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #7E8AB8;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.explore:hover {
    background-color: white;
    color: #7E8AB8;
    border: 2px solid #7E8AB8;
    transform: scale(1.1);
}