
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; /* Hauteur de 100% pour occuper toute la hauteur de la colonne */
}

.col-md-6 {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

h3, h4 {
    font-weight:bold;
    text-align:center;
}

.col {
    background-color: #F3F2E7; /* Couleur de fond */
    padding: 20px; /* Espacement intérieur */
    margin: 10px; /* Marge extérieure */
    border-radius: 10px; /* Bord arrondi */
}

.table-container1 {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 250px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

.table-container2 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

progress {
    width: 100%; /* Remplir la largeur du conteneur */
}

.blue {
    color:dodgerblue;
    font-weight:bold;
    text-align:center;
}

.grey {
    color:grey;
    text-align: right
}

.purple {
    background-color: #7E8AB8;
    color: white;
    padding: 10px 20px;
    width:100%;
    border-radius: 20px;
    font-size: 14px;
    border: none;
}