div.d-flex .btn-primary {
    background-color: #7E8AB8;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
}

div.d-flex .btn-primary:hover {
    background-color: white;
    color: #7E8AB8;
    border: 1px solid #7E8AB8;
}


/* Card Styles */
.card {
    background-color: #F3F2E7;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: auto; /* Centering the card */
    margin-right: auto; /* Centering the card */
    padding: 20px;
    max-width: 920px; /* Limiting the card width */
}

.card-body {
    padding: 20px;
}

/* Text and Heading Styles */
h1 {
    text-align: center;
    color: #3A1700;
    font-size: 36px;
    padding-bottom: 30px;
}

h5.card-title {
    color: #3A1700;
    font-weight: bold;
}

h6.card-subtitle {
    color: #777;
    font-size: 14px;
}

p.card-text {
    color: #3A1700;
    font-size: 16px;
    line-height: 1.5;
}

p {
    color: #3A1700;
    font-size: 16px;
    margin-top: 20px;
}

.no-likes {
    padding-left: 80px;
    color: #3A1700;
    font-size: 16px;
}

