.container {
    background-color: #F3F2E7;
}

.row{
    margin-top: 10px;
}

.purple {
    background-color: #7E8AB8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.purple:hover {
    background-color: white;
    color: #7E8AB8;
    border: 2px solid #7E8AB8;
    transform: scale(1.1);
}


.title1{
    color: #3A1700;
    font-weight: 700; /* bold */
    font-size: 45px;
}

.text1 {
    color: #3A1700;
    font-weight: 300; /* light */
    font-size: 20px;
    margin-top: 0.5em; /* Ajoute un peu d'espace au-dessus du paragraphe */
    line-height: 30px; /* Ajout de la hauteur de ligne */
    word-spacing: 3px;
    align-items: center;

}

.col-md-6 img {
    margin-top: 0; /* Ajustez la valeur selon le besoin pour l'aligner avec le texte */

}



.blue {
    color:dodgerblue;
    font-weight:bold;
    text-align:center;
}

.col {
    background-color: #F3F2E7;
    border-radius: 10px;
    padding: 20px; /* Espacement intérieur */
    margin: 10px; /* Marge extérieure */
}

.col:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.col button {
    display: block;
    margin: auto;
}

.contain{
    background-color: white;
}

h3{
    font-weight:bold;
    text-align:center;
}

.title-event{
    font-weight: bold;
    font-size: 30px;
}

.date-creat{
    text-align: right;
    color: grey;
}

.table-container1 {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    gap: 30px; /* Ajoute de l'espace entre chaque case */
    justify-content: center; /* Centre horizontalement */
}

.image{
    width: 100%;
}


.explore {
    background-color: white;
    color: #7E8AB8;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #7E8AB8;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.explore:hover {
    background-color: whitesmoke;
    color: #7E8AB8;
    border: 2px solid #7E8AB8;
    transform: scale(1.1);
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.heart-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.heart-icon path {
    fill: red;
    transition: fill 0.3s ease;
}

.like-button:hover .heart-icon path {
    fill: crimson;
}

.like-button:active .heart-icon path {
    animation: heartBeat 0.3s ease;
    fill: crimson;
}
