.container {
    background-color: #F3F2E7;
}

.row {
    margin-top: 10px;
}

.title1 {
    color: #3A1700;
    font-weight: 700; /* bold */
    font-size: 45px;
}

.text1 {
    color: #3A1700; /* Set color to dark brown for general .text1 elements */
    font-weight: 300; /* Unified font-weight to bold */
    font-size: 17px; /* Standardized font-size */
    margin-top: 0.5em; /* Uniform margin-top */
    line-height: 30px; /* Added line-height from previous class */
    word-spacing: 3px;
    align-items: center;
}

.col-md-6 img {
    margin-top: 0; /* Value adjusted as needed to align with the text */
}

.table-container0 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px; /* Adds space between cells */
    justify-content: center; /* Horizontally centers */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

.white h4, .white h3 {
    color: #3A1700;
    font-weight: 700;
    font-size: 30px; /* Adjustable to preference */
    margin-top: 0.5em; /* Adds space above the paragraph */
    line-height: 35px; /* Adds line height */
    word-spacing: 3px;
    text-align: center;
}

.number {
    color: #007BFF;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.table-text1 {
    font-weight: bold;
    color: darkslategrey; /* Set to a different color for distinction */
}

.col1 {
    text-align: center;
    margin-top: 10%;
}

.container.mt-5 h1, #testimonies h2 {
    font-weight: bold;        /* Sets the font weight to bold */
    text-align: center;       /* Aligns the text to the center */
    color: #3A1700;           /* Sets the color */
    font-size: 36px;          /* Sets the font size to 36px */
    padding-bottom: 30px;     /* Adds padding at the bottom */
}


.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 4rem;
}

a.btn.btn-primary, a.btn.btn-secondary {
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    width: fit-content;
    background-color: #7E8AB8;
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

a.btn.btn-secondary {
    background-color: white;
    color: #7E8AB8;
    border: 2px solid #7E8AB8;
}

a.btn.btn-secondary:hover, a.btn.btn-primary:hover {
    background-color: #7E8AB8;
    color: white;
    border: 2px solid #7E8AB8;
}

.button-wrapper a.btn:last-child {
    margin-right: 0;
}


.programs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #F3F2E7;
    border-radius: 10px;
}

.program-card {
    background-color: WHITE;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 920px;
    margin-bottom: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.program-card .title-event {
    color: #3A1700; /* Dark brown for titles, matching .title1 */
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.program-card .desc-event {
    color: #3A1700; /* Consistent text color for description */
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.program-card .date-creat {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    margin-left: auto;
}

.program-card .button-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}


