{% extends 'base.html.twig' %}

{% block title %}Modifier le Post{% endblock %}

{% block body %}

    <h1>Modifier le Post</h1>

    <form method="post" action="{{ path('update_post', {'postId': post.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('update' ~ post.id) }}">
        <div>
            <label for="title">Titre:</label>
            <input type="text" id="title" name="title" value="{{ post.title }}">
        </div>
        <div>
            <label for="description">Contenu:</label>
            <textarea id="description" name="description">{{ post.description }}</textarea>
        </div>
        <button type="submit">Enregistrer</button>
    </form>

{% endblock %}