{% extends 'base.html.twig' %}

{% block title %} Mes Likes {% endblock %}

{% block body %}
    <br>
    <br>
    <br>

    <h1>Mes Likes</h1>
    {% for like in likedPosts %}
        <li>{{ like.title }}</li>
    {% endfor %}

{% endblock %}