{% extends 'base.html.twig' %}

{% block title %} Mes Likes {% endblock %}

{% block body %}

    <h1>Mes likes</h1>
    {% for like in likedPosts %}
        <li>{{ like.title }}</li>
    {% endfor %}

{% endblock %}