{% extends 'base.html.twig' %}

    {% block title %} Mes Programmes {% endblock %}

{% block body %}

    <h1>Mes Programmes</h1>

    {% for program in programPosts %}
        <div class="table-container1">
                <div class="col">

                    <p class="title-event">{{ program.titleP }}</p>
                    <p class="desc-event"> {{ program.descriptionP }}</p>

                    <p class="date-creat">Posté le {{ program.createdAtP|date('Y-m-d') }} à {{ program.createdAtP|date('H:i:s') }}</p>
                </div>
            {% endfor %}
        </div>

    {% endfor %}


{% endblock %}